<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://ctademo5.my.salesforce.com/canvas/sdk/js/51.0/canvas-all.js"></script>
<head>
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Lato;
        }
        
        body {
            padding: 0px;
            background: #f6f3f7;
        }
        
        h1 {
            display: block;
            width: 100%;
            background: #64e0ef;
            height: 55px;
            padding-left: 10px;
            color: #000;
            font-size: 20px;
            line-height: 55px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
            box-sizing: border-box;
            text-align: center;
        }
        
        table {
            width: 100%;
            min-width: 500px;
            border-collapse: collapse;
            font-weight: bold;
            color: #6b6b6b;
        }
        
        thead {
            background-color: rgba(29, 150, 178, 1);
            border: 1px solid rgba(29, 150, 178, 1);
            font-weight: normal;
            text-align: center;
            color: white;
        }
        
        tr {
            height: 30px;
            text-align: left;
        }
        
        td {
            box-sizing: border-box;
            text-align: left;
        }

        p {

         color:blue;   
        }
    </style>
</head>
<body>
<div class="canvas-app">
    <img src="nodejs.png"/>
    <script>




        console.log('<%- context %>','=========');
        var test = '<%- JSON.stringify(context) %>'; // test is now a valid js object
        var url = '<%- context.links.chatterFeedsUrl%>'+'/news/'+'<%-context.user.userId%>'+'/feed-items';
        var body = {body : {messageSegments : [{type: "Text", text: "Some Chatter Post"}]}};

var strClient='<%- JSON.stringify(client) %>';
var c=JSON.parse(strClient);
console.log(strClient);
console.log(JSON.stringify(c));

var strContact='<%- JSON.stringify(contact) %>';
var con=JSON.parse(strContact);

var sizes = Sfdc.canvas.client.size();
console.log("contentHeight; " + sizes.heights.contentHeight);
console.log("pageHeight; " + sizes.heights.pageHeight);
console.log("scrollTop; " + sizes.heights.scrollTop);
console.log("contentWidth; " + sizes.widths.contentWidth);
console.log("pageWidth; " + sizes.widths.pageWidth);
console.log("scrollLeft; " + sizes.widths.scrollLeft);

Sfdc.canvas(function() { 
    Sfdc.canvas.client.autogrow(c, true, 100);
}); 



    console.log("contentHeight; " + sizes.heights.contentHeight);
console.log("pageHeight; " + sizes.heights.pageHeight);
console.log("scrollTop; " + sizes.heights.scrollTop);
console.log("contentWidth; " + sizes.widths.contentWidth);
console.log("pageWidth; " + sizes.widths.pageWidth);
console.log("scrollLeft; " + sizes.widths.scrollLeft);

console.log('hasContactContect==>','<%= hasContactContext.value %>');
console.log("FirstName==>",con.FirstName);

var url = '<%=context.links.chatterFeedsUrl%>'+'/news/'+'<%=context.user.userId%>'+'/feed-items';
var body = {body : {messageSegments : [{type: "Text", text: "A Chatter Post from the Canvas App"}]}};
 
Sfdc.canvas.client.ajax(url,
    {client : c,
        method: 'POST',
        contentType: "application/json",
        data: JSON.stringify(body),
        success : function(data) {
        if (201 === data.status) {
             console.log("Success");
             }
        }
    });

    Sfdc.canvas.client.subscribe(c,
    {
      name: "publisher.getPayload", onData: function (event)
      {
        console.log('event',JSON.stringify(event));
        var post = {};
    
        post.feedItemType = "LinkPost";
        post.url = 'https://www.salesforce.com';
        post.urlName = 'salesforce';
    
        Sfdc.canvas.client.publish(c,
          { name: "publisher.setPayload", payload: post });
      }
    });


    Sfdc.canvas.client.publish(c, 
    {name : 'publisher.setValidForSubmit', 
        payload : true});
       
   

     //   c.ajax(url,
      //  {client : c,
       //     method: 'POST',
      //      contentType: "application/json",
       //     data: JSON.stringify(body),
       //     success : function(data) {
       //     if (201 === data.status) {
       //          alert("Success");
       //          }
       //     }
       // }); 

    </script>
    
</div>

<div>
    <h1>Canvas Example -  Product Master</h1>
    
    <p>Hello, <%= context.user.firstName %>. </p>
    
    <br/>
    <p>The Product Master application below, and in fact everything single thing in this frame is hosted externally.</p>
    <br/>
    <p>It's all a web app written in Node.js and Express, but is securely embedded in your Salesforce page via Canvas.</p>
   <br/>
   <p>So embedded in fact that it's even integrated with the Chatter Publisher (try for yourself, enter some text in the box above and press Submit).</p>
   <br/>
    <table>
        <thead>
            <tr>
                <th>Item Name </th>
                <th>Master Price </th>
                <th>Discount </th>
                <th>Product Description </th>
                <th>Discount Approval </th>
            </tr>
        </thead>
        <tbody>
            <tr>
              
                <td>ACT-100</td>
                <td>$279.00</td>
                <td>$29.00</td>
                <td>Affordable and easy to use.</td>
                <td>Yes</td>
            </tr>
            <tr>
                
                <td>ACT-200</td>
                <td>$379.00</td>
                <td>$29.00</td>
                <td>Mid-range fully featured.</td>
                <td>No</td>
            </tr>
            <tr>
                
                <td>ACT-X300</td>
                <td>$479.00</td>
                <td>$10.00</td>
                <td>Luxury option, includes 24/7 support.</td>
                <td>No</td>
            </tr>



        </tbody>
    </table>
</div>
<br/>
    <p>Now it's more than just putting the application in a frame. </p>
    <br/>
    <p>The application is very aware of its environment (i.e. that its been enbedded in Salesforce).</p> 
        <br/>
        
        <p>For example, here are a few things it already knows...(they were passed to the app using a signed POST on invocation)</p>
        <br/>
    <table>
        <thead>
            <tr>
                <th>Item </th>
                <th>Value </th>
                
            </tr>
        </thead>
        <tr><td>Name</td><td><%= context.user.fullName %></td></tr>
        <tr><td>UserName</td><td><%= context.user.userName %></td></tr>
        <tr><td>Context - Record Type</td><td><%= context.environment.record.attributes.type%></td></tr>
        <tr><td>Context - RecordId</td><td><%= context.environment.record.Id%></td></tr>
        <tr><td>Contact (via SOQL/API) - RecordId </td><td><%= contact.Id%></td></tr>
        <tr><td>Contact Details (via SOQL/API) </td><td><%= contact.FirstName%> <%=contact.LastName%></td></tr>
        <tr><td>Authentication </td><td><%= context.application.authType %></td></tr>
        <tr><td>Canvas Dimensions</td><td> <%= context.environment.dimensions.clientHeight%> x <%= context.environment.dimensions.clientWidth%></td></tr>
        <tr><td>SFDC Org Name </td><td><%= context.organization.name %></td></tr>
        <tr><td>SFDC Version </td><td><%= context.environment.version.season %>, API=<%= context.environment.version.api %></td></tr>
        <tr><td>User Photo </td><td><img src="<%= context.user.profilePhotoUrl %>"</img></td></tr>



    </table>

    <br/>
    <p>It can also access more data in Salesforce using the REST APIs. With context and APIs, Canvas makes it easy to integrate applications written in any language inside your Salesforce pages. </p>
    <br/>
    <p>For example, the QR Code below is generated in Node.js from data retrieved using Salesforce REST. </p>
    <br/><p>Scan it to create a contact on your mobile phone:</p>
    <%- imgTag %>
</div>
</body>