<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://ctademo5.my.salesforce.com/canvas/sdk/js/51.0/canvas-all.js"></script>
<head>
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Lato;
        }
        
        body {
            padding: 0px;
            background: #f6f3f7;
        }
        
        h1 {
            display: block;
            width: 100%;
            background: #64e0ef;
            height: 55px;
            padding-left: 10px;
            color: #fff;
            font-size: 20px;
            line-height: 55px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
            box-sizing: border-box;
            text-align: center;
        }
        
        table {
            width: 100%;
            min-width: 500px;
            border-collapse: collapse;
            font-weight: bold;
            color: #6b6b6b;
        }
        
        thead {
            background-color: rgba(29, 150, 178, 1);
            border: 1px solid rgba(29, 150, 178, 1);
            font-weight: normal;
            text-align: center;
            color: white;
        }
        
        tr {
            height: 50px;
            text-align: center;
        }
        
        td {
            box-sizing: border-box;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="canvas-app">
    <img src="nodejs.png"/>
    <script>
        console.log('<%- context %>');
        var test = '<%- JSON.stringify(context) %>'; // test is now a valid js object
    alert (test);
    </script>
    <p>Hello, <%= context.user.firstName %>. This is a web app written in Node.js embedded in your Salesforce page (It could also be written in any other language).</p>
    <p>It is aware of its environment. For example, here are a few things it knows:</p>
    <table>
        <thead>
            <tr>
                <th>Item </th>
                <th>Value </th>
                
            </tr>
        </thead>
        <tr><td>User:</td><td><%= context.user.fullName %></td></tr>
        <tr><td>Chatter Users Url:</td><td><%= context.links.chatterUsersUrl%></td></tr>
        
    </table>
    <p>It can also access more data in Salesforce using the REST APIs. With context and APIs, Canvas makes it easy to integrate applications written in any language inside your Salesforce pages.</p>
    <p>For example, the QR Code below is generated in Node.js. Scan it to create a contact on your mobile phone:</p>
    <%- imgTag %>
</div>

<div>
    <h1>Product Manangement Node Js Heroku Integration </h1>
    
   
    <table>
        <thead>
            <tr>
                <th>Item Name </th>
                <th>Master Price </th>
                <th>Discount </th>
                <th>Product Description </th>
                <th>Discount Approval </th>
            </tr>
        </thead>
        <tbody>
            <tr>
              
                <td>Product ACT 100</td>
                <td>$279.00</td>
                <td>$29.00</td>
                <td>Affordable and easy to use, Act!</td>
                <td>Yes</td>
            </tr>
            <tr>
                
                <td>Product ACT 200</td>
                <td>$279.00</td>
                <td>$29.00</td>
                <td>Affordable and easy to use, Act!</td>
                <td>No</td>
            </tr>
            <tr>
                
                <td>Product ACT 300</td>
                <td>$279.00</td>
                <td>$10.00</td>
                <td>Affordable and easy to use, Act!</td>
                <td>No</td>
            </tr>



        </tbody>
    </table>
</div>
</body>